@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather+Sans:wght@400;700&family=Merriweather:wght@700&display=swap);

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

:root {
    --fs-1: 3.13em;
    --fs-2: 2.5em;
    --fs-3: 1.56em;
    --fs-4: 1.56em;
    --fs-5: 0.75em;
    --fs-6: 1em;
    --fs-7: 0.63em
}

@media screen and (min-width:35.5em) {
    :root {
        --fs-1: 6.25em;
        --fs-2: 3.13em;
        --fs-3: 1.94em;
        --fs-4: 1.56em;
        --fs-5: 1.25em;
        --fs-6: 0.81em;
        --fs-7: 0.63em
    }
}

.header-block header {
    position: relative
}

.header-block header h2 {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-40%);
    padding: 0 1em;
    background-color: #fff;
    color: #0049af;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: var(--fs-4);
    font-weight: 700
}

.header-block__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    border: 2px solid #0049af;
    height: 20em
}

.header-block__body .row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-block: .5em
}

.header-block__body .row p {
    font-size: var(--fs-5);
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0
}

.header-block__body .header p {
    color: #0049af
}

.header-block__body .main {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1
}

.header-block__body .main p {
    color: #404c5c
}

.header-block__body .footer p {
    color: #404c5c
}

.header-block__body .footer p:first-of-type {
    color: #0049af
}

@media screen and (min-width:35.5em) {
    .header-block header h2 {
        white-space: nowrap
    }

    .header-block__body {
        padding: 1.5em;
        height: 26em
    }
}

.select-form-control{
    width: 100%;
}

.select-form-control label{
    font-size: var(--fs-5);
    color: #0049af;
    /* text-align: end; */
    margin-block: 0;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 0.5em;
}
.select-form-control span{
    color: #0049af !important;

}
.select2-selection--single {
    border: unset !important;
    border-radius: 4px !important;
    font-size: var(--fs-5);
    height: unset !important;
    
}
.select-form-control input[type='text']{
    box-sizing: border-box;
    width: 100%;
    background: 0 0;
    border: none;
    border-radius: 0;
    outline: 0;
    caret-color: #d1d1d1;
    transition: all ease-in-out .12s
}

.checkout_title{
    font-weight: 700;
    color: #6da1eb;
    font-size: 1.5625em;
    text-transform: uppercase;
}
.checkout-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.input-checkbox{

    width: 20px;
    height: 20px;
    border: 2px solid #0049af !important;
    border-radius:4px;
    transform: translateY(-0.075em);
}
.checkout-note label{
    font-size: var(--fs-5);
    color: #404c5c;
    /* text-align: end; */
    margin-block: 0;
    white-space: nowrap;
    padding-left: 1px;
    padding-right: 0.5em;
}
.checkout-note textarea{
    width: 100%;
    background-color: #fff;
    border: 2px solid #0049af;
    border-radius: 4px;
    font-size: var(--fs-5);
    /* color: #0049af; */
    /* text-align: end; */
    margin-block: 0;
    padding-left: 1px;
    padding-right: 0.5em;
    resize:vertical;
}
.checkout-note textarea::placeholder {
    color: #999;
    opacity: 0.5;
  }
.checkout_title-checkout-review{
    padding: .5em;
}  
.chackout-review-overview {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
}
.chackout-review-overview li{
    border-right: 1px dashed #0049af;
    float: left;
    /* margin-right: 2em; */
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1;
    padding-right: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
.chackout-review-overview li p:nth-child(1) {
    color: #0049af;
    margin-bottom: 0.5em;
}
.chackout-review-overview li p:nth-child(2) {
    color: #404c5c;
}
.chackout-review-overview li p {
    margin: 0;
    font-family: 'Merriweather Sans',sans-serif;
    font-size: var(--fs-5);
}
@media screen and (min-width: 35.5em) {
    .checkout_title-checkout-review{
        padding: 1em 1.5em;
    }  
    .chackout-review-overview{
        padding: 1em 2em;

    }
}
@media screen and (min-width: 64em) {
    .chackout-review-overview{
        width: 70%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
        margin: 0 0 3em;
    }
}
.chackout-form-coupon p {
    margin: 0;
    font-family: 'Merriweather Sans',sans-serif;
    font-size: var(--fs-5);
    color: #404c5c;
}
.checkout-form-coupon form{
    
    box-sizing: border-box;
    border-radius: 0 !important; 
    padding: 1.5em !important;
    border: 2px solid #0049af !important; 
}
.checkout-form-coupon div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 100%;
    /* padding-block: 1em; */

}
@media screen and (min-width: 35.5em){
    .checkout-form-coupon form{
        padding: 2.5em !important;
    }
    .checkout-form-coupon div{
        display: flex;
        flex-direction: unset;
        align-items: flex-end;
        justify-content: space-between;
        width: unset;
        /* gap: 1em; */
    
    }
    .checkout-form-coupon button{
        font-size: var(--fs-4);
    
    }
}
.checkout-form-coupon button{
    font-size: var(--fs-5);
}
.payment_title{
    font-weight: 700;
    color: #6da1eb;
    font-size: 1.5625em;
    text-transform: uppercase
}
.checkout-payment{
    background: none !important;
    
}
.checkout-payment ul{
    padding: 0 !important;
    border-bottom: unset !important;
}
.checkout-payment-method input[type=radio]{
    /* -moz-appearance: none; */
    /* appearance: none; */
    position: relative;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    border-radius: 0;
    border: 1px solid #0049af;
    background-color: transparent;
}
.payment_box::before {
    content: "";
    display: block;
    border: unset !important;
    position: absolute;
    top: -0.75em;
    left: 0;
    margin: -1em 0 0 2em;

}
.payment_box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    font-size: .92em;
    line-height: 1.5;
    background-color: unset !important;
    /* color: #515151; */

}

.payment_box_inner {
    position: relative;
    display: block;
    
    margin-left: 2em;
}
.payment_box_inner p{
     font-size: 90%;
    font-family: 'Merriweather Sans', sans-serif;
    color: #404c5c;
}
.payment_box p::after,
.payment_box p::before {
    content: ""
}

.payment_box_inner::before {
    top: -1em;
    left: -1.5em;
    width: 2em;
    height: 2em;
    content: "";
    position: absolute;
    z-index: 0;
 
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 53 55" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M21.5381 55L22.1924 40.7468L24.1553 31.6073L17.285 38.1899L5.56173 46.0781L0.218107 36.9931L12.7593 30.2473L21.6471 27.5272C21.5381 27.4547 21.0473 27.2915 20.1749 27.0376C19.3388 26.7837 18.3573 26.5117 17.2305 26.2216C16.1399 25.8952 15.1403 25.605 14.2315 25.3511C13.3591 25.0973 12.832 24.9522 12.6502 24.9159L0 18.4965L5.18004 9.30267L17.0669 17.1909L24.0463 23.3383C24.0463 23.2295 23.9372 22.758 23.7191 21.9238C23.501 21.0534 23.2466 20.0742 22.9558 18.9862C22.7013 17.8619 22.465 16.8645 22.2469 15.9941C22.0288 15.0874 21.9016 14.5434 21.8652 14.362L20.8292 0H31.4074L30.6986 14.1444L28.7901 23.2295C28.8628 23.1569 29.2263 22.8124 29.8807 22.1958C30.535 21.5793 31.262 20.8721 32.0617 20.0742C32.8978 19.2763 33.643 18.5691 34.2973 17.9525C34.988 17.336 35.3879 16.9733 35.4969 16.8645L47.4928 8.97627L52.6728 17.9525L40.1317 24.4807L31.2438 27.4184L40.1317 30.0297L53 36.2315L47.5473 45.6429L35.8786 37.8635L28.7901 31.7161C28.8265 31.8249 28.9355 32.3145 29.1173 33.185C29.3354 34.0554 29.5717 35.0527 29.8261 36.1771C30.1169 37.2651 30.3532 38.2624 30.535 39.1691C30.7531 40.0396 30.8803 40.5654 30.9167 40.7468L32.1708 55H21.5381Z" fill="%230049AF" fill-opacity="0.2"/%3E%3C/svg%3E%0A');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
}
.checkout-terms p{
    font-family: 'Merriweather Sans', sans-serif!important;
    color: #404c5c!important;
    margin-block: 1.5em!important;
    font-size: 1em!important;
}

.payment_box label{
    color: #404c5c !important;
}
fieldset div.form-row{
    padding: 3px !important;
}
fieldset{
    border: 2px solid #0049af;
    border-radius: 4px;
}

.checkout-review-body{
    box-sizing: border-box;
    flex-basis: 100%;
    border: 2px solid #0049af;
    overflow-y: auto;
    min-height: 5em;
    padding: 2.5em;
}

.order-pay-form div.orders__container {
    display: flex;
    flex-direction: column;
    gap: 1em
}
.orders__row {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 1em;
}
.order-pay-form .orders__row>div {
    display: flex;
    gap: 0.5em;
}
.orders__row p {
    margin: 0;
    font-family: 'Merriweather Sans',sans-serif;
    font-size: var(--fs-5);
}
.orders__row>div :nth-child(1) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}
.orders__row p:nth-child(1) {
    color: #0049af;
}
.orders__footer {
    margin-top: 0.5em;
}

.order-note{
    padding: 0.5em;
    /* margin-top: 0.5em; */
}
.order-note p{
    color: #404c5c;
    margin: 0;
    font-family: 'Merriweather Sans',sans-serif;
    font-size: var(--fs-5);
}
.order-note div{
    box-sizing: border-box;
    flex-basis: 100%;
    border: 2px solid #0049af;
    overflow-y: auto;
    /* min-height: 5em; */
    padding: 1.5em;
}
.order-customer-details{
    padding: 0.5em;
    /* margin-top: 0.5em; */
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: unset !important;
}
.order-customer-details h2{
    color: #0049af;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5625em;
    text-transform: uppercase;
    font-weight: 700;

}
.order-customer-details p{
    font-family: 'Merriweather Sans',sans-serif;
    font-size: 1.25em;
    color: #789bce;

}
@media screen and (min-width: 35.5em){
    .order-pay-form{
        padding: 2em 3em;
    }
    .order-pay-form .orders__row>div  {
        flex-direction: column;
    }
    .orders__row {
        display: grid;
        grid-template-columns: 1.6fr 3.4fr 1fr;
        padding: 1em 2em;
        gap: 0;
    }
    .orders__footer {
        grid-template-columns: 1.6fr 1.6fr 1.8fr 1fr;
        margin-top: 1.8em;
    }
    .order-note{
        padding: 1em 2em;
        /* margin-top: 1.8em; */
    }
    .order-customer-details{
        padding: 1em 2em;
        /* margin-top: 1.8em; */
        flex-direction: row;
        gap: 6em;
    }
}
.form-title{
    font-size: var(--fs-2) !important;
}