.woocommerce ul.products .grid-item-shop {
    display: block;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    width: 100%;
    margin: 0;
}
.woocommerce ul.products li.product .woocommerce-LoopProduct-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.woocommerce ul.products li.product a img {
    margin: 0;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title{
    color: black;
    text-transform: none;
    font-family: 'Merriweather Sans',sans-serif!important;
    font-size: .75em!important;
    font-weight: 400;
    padding: 1em 0 0.3em;
}
.woocommerce ul.products li.product .star-rating{
    margin: 0;
}
ul.products .swiper-slide .price {
    color: black!important;
    font-family: 'Merriweather Sans', sans-serif!important;
    font-size: 1.56em!important;
    font-weight: 400!important;
    margin: 0!important;
    padding: 0.5em 0 0;
 }
ul.products .swiper-slide bdi {
    color: black!important;
    font-family: 'Merriweather Sans', sans-serif!important;
    font-weight: 400!important;
}
@media screen and (min-width: 35.5em){
    .woocommerce ul.products li.product .woocommerce-loop-product__title{
        font-size: 1.25em!important;
    }
    li.product .price{
        font-weight: 400;
    }
}
@media screen and (max-width: 35.5em){
    .woocommerce ul.products li.product{
        width: 100% !important;
        margin: 0!important;
    }
}