li{
    list-style-type: none;
}
span.onsale{
    min-height: 3.236em;
    min-width: 3.236em;
    padding: 0.202em;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    font-size: .857em;
    z-index: 9;
    border: 2px solid #0049af;
    background-color: transparent;
    color: #0049af;
    border-radius: 0;
    top: 0;
    right: 0;
    left: auto;
    margin: 1.75em;
}
.swiper-slide ins{
    text-decoration: none;
}
.related.products .grid-item-shop {
    display: block;
}
.related.products li.product, .related.products li.product{
    width: 100%!important;
    margin: 0!important;
}
.related.products li.product .woocommerce-LoopProduct-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.related.products li.product a img {
    width: 100%!important;
    margin: 0;
}
.related.products {
    padding-top: 0.5em;
}
.related.products .swiper-slide{
    height: auto;
}
.related.products .swiper-slide .price{
    font-size: 1.56em;
    font-weight: 700;
}
.related.products li.product .woocommerce-loop-product__title{
    color: black;
    text-transform: none;
    font-family: 'Merriweather Sans',sans-serif!important;
    font-size: .75em!important;
    font-weight: 400;
    padding: 1em 0 0.3em;
    margin: 0;
}
.related.products li.product .star-rating{
    margin: 0;
}
.related.products .swiper-slide .price {
    color: black!important;
    font-family: 'Merriweather Sans', sans-serif!important;
    font-size: 1.56em!important;
    font-weight: 400!important;
    margin: 0!important;
    padding: 0.5em 0 0;
 }
.related.products .swiper-slide bdi {
    color: black!important;
    font-family: 'Merriweather Sans', sans-serif!important;
    font-weight: 400!important;
}
.disabled-link{
    cursor: auto;
}
.related.products .swiper-slide .price {
    display: none!important;
}
.grid-item-shop .grid-item-shop__buttons {
    justify-content: space-between;
    padding: 0.5em 0 0;
}
.grid-item-shop .grid-item-shop__price{
    color: black!important;
}
li.product .star-rating {
    font-size: .857em;
}
.related.products li.product .star-rating {
    margin: 0;
}
.star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}
.products .star-rating {
    display: block;
    margin: 0 0 0.5em;
    float: none;
}
.star-rating::before {
    content: "sssss";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.star-rating span {
    width: 80%;
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.star-rating span::before {
    content: "SSSSS";
    top: 0;
    position: absolute;
    left: 0;
}

@media screen and (min-width: 35.5em){
    .related.products li.product .woocommerce-loop-product__title{
        font-size: 1.25em!important;
    }
    li.product .price{
        font-weight: 400;
    }
    section.related.products .swiper-slide .price{
        font-size: 1.56em;
        font-weight: 400;
    }
}
@media screen and (max-width: 35.5em){
    .related.products li.product{
        width: 100% !important;
        margin: 0!important;
    }
}